n8n-workflow-contact.json
{
  "name": "Portfolio Contact Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portfolio-contact",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Portfolio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "portfolio-contact"
    },
    {
      "parameters": {
        "sendTo": "teinateinauri@gmail.com",
        "subject": "=📬 Portfolio Contact: {{ $json.subject }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #FF6D5A 0%, #FF8A7A 100%); padding: 20px; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">📬 Nouveau message Portfolio</h1>\n  </div>\n  \n  <div style=\"background: #1a1a1a; padding: 24px; border: 1px solid #333; border-top: none; border-radius: 0 0 8px 8px;\">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr>\n        <td style=\"padding: 12px 0; border-bottom: 1px solid #333; color: #888; width: 100px;\">De:</td>\n        <td style=\"padding: 12px 0; border-bottom: 1px solid #333; color: #fff;\">{{ $json.from }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 12px 0; border-bottom: 1px solid #333; color: #888;\">Sujet:</td>\n        <td style=\"padding: 12px 0; border-bottom: 1px solid #333; color: #fff;\">{{ $json.subject }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 12px 0; border-bottom: 1px solid #333; color: #888;\">Date:</td>\n        <td style=\"padding: 12px 0; border-bottom: 1px solid #333; color: #fff;\">{{ $json.timestamp }}</td>\n      </tr>\n    </table>\n    \n    <div style=\"margin-top: 24px;\">\n      <h3 style=\"color: #FF6D5A; margin: 0 0 12px 0; font-size: 14px; text-transform: uppercase;\">Message</h3>\n      <div style=\"background: #252525; padding: 16px; border-radius: 6px; color: #fff; white-space: pre-wrap;\">{{ $json.message }}</div>\n    </div>\n    \n    <div style=\"margin-top: 24px; padding-top: 16px; border-top: 1px solid #333; text-align: center;\">\n      <a href=\"mailto:{{ $json.from }}\" style=\"display: inline-block; background: #FF6D5A; color: white; padding: 12px 24px; border-radius: 6px; text-decoration: none; font-weight: bold;\">↩️ Répondre</a>\n    </div>\n  </div>\n  \n  <p style=\"text-align: center; color: #666; font-size: 12px; margin-top: 16px;\">Envoyé depuis le formulaire de contact Portfolio ⚡</p>\n</div>",
        "options": {
          "replyTo": "={{ $json.from }}"
        }
      },
      "id": "gmail-send",
      "name": "Gmail - Envoyer Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [500, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIALS_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_YOUR_TELEGRAM_CHAT_ID",
        "text": "=📬 *Nouveau contact Portfolio*\n\n👤 *De:* {{ $json.from }}\n📋 *Sujet:* {{ $json.subject }}\n\n💬 *Message:*\n{{ $json.message }}\n\n⏰ {{ $json.timestamp }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Telegram - Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 500],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook Portfolio": {
      "main": [
        [
          {
            "node": "Gmail - Envoyer Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram - Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "portfolio",
      "createdAt": "2026-01-25T00:00:00.000Z",
      "updatedAt": "2026-01-25T00:00:00.000Z"
    }
  ],
  "pinData": {},
  "meta": {
    "instanceId": "portfolio-contact-workflow"
  }
}
